/* ADDRESS STYLES */
.address-container {
    padding: 0 50px;
    gap: 50px;
}
.form-requiredFields {
    font-family: "Inter Regular";
    font-size: clamp(17px, 1.3vw, 30px);
    color: #FF9C9C;
}
.personalData {
    color: #910000;
    font-family: "Inter Regular";
    font-size: clamp(12px, 1.5vw, 20px);
}
.img {
    width: 100%;
    height: 500px;
    background-color: #D9D9D9
}
.show {
    position: relative;
    height: auto;
    opacity: 1;
    transition: all 0.3s ease;
    transform: translateX(0);
    pointer-events: auto;
}
.name-container-heading {
    font-size: clamp(15px, 1.2vw, 30px);
}
.address-buttons-container {
    gap: 50px;
    justify-content: space-between
}
.unshow {
    position: absolute;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transform: translateX(-50px);
    pointer-events: none;
    transition: all 0.3s ease;
}

.questionCard {
    width: 100%;
    margin-top: 50px;
}
.card-paragraph  {
    font-size: clamp(14px, 1.2vw, 25px);
}

@media (max-width: 1150px) {

}
@media (max-width: 855px) {
    .address-buttons-container {
        gap: 15px;
    }
    .button {
        padding: 10px 30px;
    }
    .input {
        height: 50px;
        padding: 0 0 0 20px;
    }
    .input::placeholder {
        font-size: 13px;
    }
}
@media (max-width: 800px) {
    .question-heading {
        font-size: 23px;
    }
    .paragraph {
        font-size: 18px;
    }
    .paragraph-heading {
        font-size: 18px;
    }
}
@media (max-width: 818px) {
    .address-buttons-container {
        flex-direction: column;
    }
    .button {
        width: 100%;
    }
    .form-requiredFields {
        font-size: 13px;
    }
}
@media (max-width: 550px) {
    .question-heading {
        font-size: 18px;
    }
    .paragraph {
        font-size: 12px;
    }
    .paragraph-heading {
        font-size: 13px;
    }
    .card-paragraph  {
        font-size: 12px;
    }
    .personalData {
        font-size: 12px;
    }
}
@media (max-width: 491px) {
    .input::placeholder {
        font-size: 10px;
    }
}