.input-photo input{
    border: 2px dashed black;
    cursor: pointer;
}
.date-hastag {
    display: flex;
    gap: 100px;
}
.date {
    width: 40%;
}
.date-input {
    height: 250px;
    border-radius: 40px; 
    text-align: center;
    padding: 0;
}
.hastag {
    width: 60%;
}
.hastag-input {
    position: relative;
}
.hastag::placeholder {
    font-size: 19px;
}
.arrow-bottom {
    position: absolute;
    top: 35px;
    right: 50px;
}
.hastag-button {
    color: #8B8B8B;
    padding: 0;
    border-radius: 20px;
}
.hastag-button:focus {
    outline: none;
}
.hastag-button p {
    text-align: left;
    padding-left: 60px;
}
.unshow {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: max-height 0.3s, opacity 0.3s, transform 0.3s;
}

.show {
    overflow: hidden;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: max-height 0.3s, opacity 0.3s, transform 0.3s;
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}
.unrotate {
    transform: rotate(0);
    transition: transform 0.2s ease;
}
.hastag-button-cont {
    position: relative;
}
.hastag-list-container  {
    position: absolute;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: auto;
    width: 100%;
    top: 55px;
    border: 6px solid #F5F5F5;
}
#hastag-list {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s, opacity 0.2s, margin 0.2s;
    margin-top: 0;
}
.hastag-list-color-container {
    background-color: white;
    margin-top: 20px;
    display: flex;
    padding: 0 20px 0 20px;
    border-radius: 30px;
    gap: 50px;
}
.hastag-list ul {
    gap: 20px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.hastag-list ul li {
    border-bottom: 2px solid #F5F5F5;
}
.hastag-list ul li a {
    font-size: 20px;
    font-family: Inter Regular;
}
.main-text .input {
    padding-top: 25px;
    font-family: Inter Regular;
}