main {
    padding: 300px 0;
}

.signInContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.password {
    display: flex;
    flex-direction: column;
    gap: 10px;
}