main {
    max-width: 2048px;
    margin: 0 auto;
}
.committee-section-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 90px 0;
}
.committee-members-container {
    display: flex;
    flex-direction: column;
    gap: 6vw;
}
.committee-container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}