.committee-section-container {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 90px 0;
}
.committee-members-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.committee-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}