/* Banner */
.main-banner-section {
    display: flex;
    position: relative;
    justify-content: center;
    height: 56vw;
    width: 100%;

    background-image: url(/client/assets/images/template.jpeg);
    background-size: cover;
    background-position: center;
    p {
        position: absolute;
        bottom: 5%;
        font-size: clamp(22px, 5vw, 70px);
        color: var(--mainWhite);
        z-index: 200;
    }
}

/* News block section */
.news-block-section {
    display: flex;
    flex-direction: column;
    gap: var(--homePageGap);
    padding: 90px 0;
}
.hashtag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.posts-container {
    display: flex;
    flex-direction: column;
    gap: var(--homePageGap);
}
.post-element {
    display: flex;
    flex-direction: column;
    gap: 40px;
    img {
        display: block;
        width: auto;
        object-fit: cover;
        object-position: center;
        height: 31vw;
    };
}
.date-container {
    white-space: nowrap;
    gap: 20px;
    display: flex;
    align-items: center;
}
.carousel-btn {
    display: none;
}
.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* Карусель хештегов */
@media (max-width: 1000px) {
    .hashtag-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 12px;
        scroll-snap-type: x mandatory;
        padding-bottom: 10px;
        scrollbar-width: none;
    }
    .hashtag-container .button {
        white-space: nowrap;
        scroll-snap-align: start;
        flex-shrink: 0;
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    .carousel-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }
    .carousel-btn {
        display: block;
        position: absolute;
        z-index: 10;
        background: #fff;
        border: none;
        font-size: 32px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        cursor: pointer;
        margin-bottom: 8px;
    }

    #left-tag { left: -10px; }
    #right-tag { right: -10px; }
}