/*
 • Базовые стили проекта
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    min-height: 100vh;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    cursor: pointer;
}