/*
 Базовые стили проекта
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    min-height: 100vh;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    display: flex;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    cursor: pointer;
}
/*
Inter Light-Italic
Inter Regular
Inter Medium
Inter Bold 
*/

:root {
/* Colors */
    --mainWhite: #FFF;
    --mainGray: #1C1C1C;
    --lightGray: #D9D9D9;
    --stroke: #666666;
    --mainRed: #910000;
    --inputBgc: #F5F5F5;
    --inputPlc: #8B8B8B;
    --btnActive: #E44D4D;

/* Font-Sizes (PC) */
    --pcHeadingText: 96px;
    --pcSubHeaderText: 64px;
    --pcNewsHeadingText: 48px;
    --pcMainText: 32px;
    --pcNavigationText: 24px; 
/* Font-sizes (Mobile) */
    --mobileHeadingText: 20px;
    --mobileSubHeaderText: 13px;
    --mobileNewsHeadingText: 12px;
    --mobileMainText: 9px;
    --mobileNavigationText: 9px;

/* Gaps */
    --newsPostSectionGap: 100px;
    --newsBlockGap: 40px;
    --homePageGap: 90px;
    --otherPagesGap: 60px;
    --headerListGap: 107px;
}