/* button, paragraph, input, heading, paragraph-heading */
.heading {
    font-size: 40px;
    font-family: "Inter Bold";
    color: var(--mainGray);
}
.paragraph {
    color: var(--mainGray);
    font-size: 26px;
    font-family: "Inter Regular";
}
.paragraph-heading {
    color: var(--mainRed);
    font-size: 26px;
    font-family: "Inter Semi Bold";
}
.hashtag {
    color: var(--mainRed);
    font-size: 26px;
    font-family: "Inter Light-Italic";
}
.button {
    padding: 10px 50px;
    background-color: transparent;
    border: 2px solid var(--mainGray);
    font-size: 23px;
    border-radius: 114px;
    transition: all 0.1s ease;
    color: var(--mainGray);
}
.active {
    background-color: var(--btnActive);
    color: white;
}
.input {
    width: 100%;
    height: 60px;
    background-color: var(--inputBgc);
    border-radius: 50px;
    border: none;
    padding: 0 0 0 50px;
    font-size: 18px;
}
.input::placeholder {
    font-size: 18px;
}
.input:focus {
    outline: 2px solid var(--mainGray);
}
.redstar {
    color: var(--mainRed);
    font-family: "Inter Bold";
}
.container {
    width: 88%;
    margin: 0 auto;
}