/* button, paragraph, input, heading, paragraph-heading */
.global-heading {
    font-size: clamp(27px, 2vw, 80px);
    font-family: "Inter Bold";
    color: var(--mainGray);
}
.paragraph {
    color: var(--mainGray);
    font-size: clamp(16px, 1.5vw, 60px);
    font-family: "Inter Regular";
}
.paragraph-heading {
    color: var(--mainRed);
    font-size: clamp(16px, 1.5vw, 60px);
    font-family: "Inter Semi Bold";
}
.paragraph-text {
    color: var(--mainGray);
    font-size: 20px;
    font-family: "Inter Regular";
}
.card-paragraph {
    font-size: 20px;
    font-family: "Inter Regular";
    color: var(--mainGray);
}
.hashtag {
    color: var(--mainRed);
    font-size: 20px;
    font-family: "Inter Light-Italic";
}
.button {
    padding: 15px 60px;
    background-color: transparent;
    border: 2px solid var(--mainGray);
    font-size: 23px;
    border-radius: 114px;
    transition: all 0.1s ease;
    color: var(--mainGray);
    white-space: nowrap;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Адаптация под кнопки */
@media (max-width: 1300px) {
    .button {
        padding: 15px 38px;
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .button {
        padding: 14px 30px;
        font-size: 18px;
        border-radius: 60px;
    }
}

@media (max-width: 1025px) {
    .button {
        padding: 15px 30px;
        border: 2px solid black;
        font-size: 17px;
    }
}

@media (max-width: 855px) {
    .button {
        padding: 15px 35px;
        font-size: 16px;
        white-space: wrap;
    }
}

.active {
    background-color: var(--btnActive);
    color: white;
}
.input {
    width: 100%;
    height: 60px;
    background-color: var(--inputBgc);
    border-radius: 50px;
    border: none;
    padding: 0 0 0 50px;
    font-size: 18px;
    margin-top: 10px;
}
.input::placeholder {
    font-size: 18px;
}
.input:focus {
    outline: 2px solid var(--mainGray);
}
.redstar {
    color: var(--mainRed);
    font-family: "Inter Bold";
}
.container {
    width: 80%;
    margin: 0 auto;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.line {
    width: 100%;
    height: 4px;
    background-color: var(--mainGray);
}