@font-face {
    font-family: "Inter Regular";
    src:
      url("./fonts/Inter-Regular.woff") format("woff"),
}

@font-face {
    font-family: "Inter Medium";
    src:
      url("./fonts/Inter-Medium.woff") format("woff"),
}

@font-face {
    font-family: "Inter Bold";
    src:
      url("./fonts/Inter-Bold.woff") format("woff"),
}

@font-face {
    font-family: "Inter Light-Italic";
    src:
      url("./fonts/Inter-LightItalicBETA.woff") format("woff"),
}
@font-face {
    font-family: "Inter Semi Bold";
    src:
    url("./fonts/Inter-SemiBold.woff") format("woff");
}