/* HEADER */
/* + */
/* FOOTER */
header {
    padding: 40px 0 20px;
    font-size: var(--pcNavigationText);
    font-family: "Inter Regular";
    background-color: var(--mainWhite);
    width: 100%;
}
.header-container {
    display: flex;
    gap: var(--homePageGap);
}
.header-logo-container {
    width: auto;
    height: 100%;
    border-radius: 50%;
    background-color: var(--lightGray);
}
.header-navigation-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    ul {
        justify-content: space-around;
        display: flex;
    }
    li {
        list-style-type: none;
    }
}
.line {
    width: 100%;
    height: 2px;
    background-color: var(--stroke);
}

body {
    background-color: var(--lightGray);
}